---
import Configuration from "./icons/Configuration.astro";
import Plus from "./icons/Plus.astro";
---

<header class="w-full h-20 flex justify-between items-center">
  <Configuration class="size-6" />
  <span class="text-white">Aldo Bonzi</span>
  <Plus class="size-6" />
</header>
